<div class="uk-margin">
    <form class="uk-search uk-search-default">
        <span uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search...">
    </form>
</div>
<table class="uk-table  uk-table-divider ">
  <thead>
    <tr>
      <th>S/N</th>
      <th>Full name</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>Skin Color</th>
      <th>Date Created</th>
      <!-- <th>Action</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of people?.results, let i = index ">
      <td> {{i+1}} </td>
      <td>{{item.name}}</td>
      <td>{{item.birth_year}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.skin_color}}</td>
      <td>{{item.created| date }}</td>
      <td><button class="uk-button uk-button-default" type="button">View</button></td>
    </tr>
  </tbody>
</table>
<ul class="uk-pagination uk-flex-center" uk-margin>
  <li><a href="#"><span uk-pagination-previous></span></a></li>
  <li><a href="#">1</a></li>
  <li class="uk-disabled"><span>...</span></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li class="uk-active"><span>7</span></li>
  <li><a href="#">8</a></li>
  <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>