<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
<div *ngIf="!loading">
  <div class="uk-margin">
    <form class="uk-search uk-search-default">
      <span uk-search-icon></span>
      <input class="uk-search-input" (keyup)="applyFilter($event.target.value)" type="search" placeholder="Search...">
    </form>
  </div>
  <table class="uk-table uk-table-divider">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Name</th>
        <th>Climate</th>
        <th>Diameter</th>
        <th>Population</th>
        <th>Date Created</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of planets?.results, let i = index ">
        <td> {{ (i + 1) + (pgNum - 1) * itemsPerPage}} </td>
        <td>{{item.name}}</td>
        <td>{{item.climate}}</td>
        <td><span *ngIf="item.diameter> 0">{{item.diameter| number}}</span>
          <span *ngIf="item.diameter ==='unknown'|| item.diameter ==0">{{item.diameter}}</span></td>
        <td><span *ngIf="item.population> 0">{{item.population| number}}</span>
          <span *ngIf="item.population ==='unknown'">{{item.population}}</span></td>
        <td>{{item.created| date }}</td>
        <td><button class="uk-button uk-button-default primary-button" (click)="viewPlanet(item)"
            type="button">View</button></td>
      </tr>
    </tbody>
  </table>
  <ul class="uk-pagination uk-flex-center" uk-margin>
      <li><a *ngIf='planets?.previous !== null ? true : false' (click)="loadPrevious()"><span uk-pagination-previous></span></a></li>
      <li>Page {{pgNum}} of {{ totalPages}}</li>
      <li><a   *ngIf='pgNum != totalPages' (click)="loadNext()"><span uk-pagination-next></span></a></li>
    </ul>
</div>